<div class="row">
  <div class="col-md-5">
  <img src="{{house?.image}}" alt="IMAGE" width="500px" height="400px" [(ngModel)] ="house!.image">
  </div>
  <div class="col-md-8">
    <div class="card-body">
      <div>
      <input class="form-control" placeholder="House" [(ngModel)] = "house!.title">
      </div>
      <div>
      <input class="form-control" placeholder="Street" [(ngModel)] = "house!.street">
      </div>
      <div>
      <input class="form-control" placeholder="Meters" [(ngModel)] = "house!.meters">
    </div>
    <div>
      <input class="form-control" placeholder="Price" [(ngModel)] = "house!.price">
    </div>
    <div>
      <input class="form-control"  placeholder="Number" [(ngModel)] = "house!.numbers">
    </div>

    </div>
  </div>
  </div>


  <div>
    <button class="btn btn-primary" (click)="onSave()">Save</button>
  </div>
